*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
/out/
/dist/
/target/
/bin/
*.log

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Libraries
lib/mysql-connector-java.jar

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs
hs_err_pid*
replay_pid*
